*/bin/*
*/obj/*
*/.vs/*
*.log
*.suo
*.csproj.user

*.DS_Store

HorseIsleServer/N00BS/obj/*
HorseIsleServer/N00BS/bin/*

HorseIsleServer/MPN00BS/obj/*
HorseIsleServer/MPN00BS/bin/*

HorseIsleServer/HISPd/obj/*
HorseIsleServer/HISPd/bin/*

HorseIsleServer/Installer/Windows/*

HorseIsleServer/LibHISP/obj/*
HorseIsleServer/LibHISP/bin/*
HorseIsleServer/LibHISP/Resources/Versioning/*

HorseIsleServer/.vs/*
