*/bin/*
*/obj/*
*/.vs/*
*.log
*.suo


HorseIsleServer/N00BS/obj/*
HorseIsleServer/N00BS/bin/*
HorseIsleServer/N00BS/flash.dll.idb

HorseIsleServer/HISPd/obj/*
HorseIsleServer/HISPd/bin/*

HorseIsleServer/Installer/Windows/*

HorseIsleServer/LibHISP/obj/*
HorseIsleServer/LibHISP/bin/*
HorseIsleServer/LibHISP/Resources/Versioning/*

HorseIsleServer/.vs/*