<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0">
  <PropertyGroup>
    <Configuration>MacOS</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin\x64\MacOS\net7.0\osx-x64\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <!-- <PublishSingleFile>True</PublishSingleFile> -->
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishTrimmed>True</PublishTrimmed>
    <DefineConstants>OS_MACOS;ARCH_X86_64</DefineConstants>
  </PropertyGroup>
</Project>