<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0">
	<PropertyGroup>
		<Configuration>Linux</Configuration>
		<Platform>ARM</Platform>
		<PublishDir>build/$(Configuration)-$(Platform)</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net10.0</TargetFramework>
		<RuntimeIdentifier>linux-arm</RuntimeIdentifier>
		<SelfContained>True</SelfContained>
		<PublishSingleFile>True</PublishSingleFile>
		<PublishReadyToRun>True</PublishReadyToRun>
		<PublishTrimmed>True</PublishTrimmed>
		<LinkerFlavor>lld</LinkerFlavor>
		<PublishAot>true</PublishAot>
		<DefineConstants>OS_LINUX;ARCH_ARM</DefineConstants>
	</PropertyGroup>
</Project>