<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0">
  <PropertyGroup>
    <Configuration>iOS</Configuration>
    <Platform>ARM64</Platform>
    <PublishDir>build/$(Configuration)-$(Platform)</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>ios-arm64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <!-- <PublishSingleFile>False</PublishSingleFile> !-->
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishTrimmed>True</PublishTrimmed>
    <DefineConstants>OS_IOS;ARCH_ARM64</DefineConstants>
  </PropertyGroup>
</Project>