<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0">
  <PropertyGroup>
    <Configuration>MacOS</Configuration>
    <Platform>ARM64</Platform>
    <PublishDir>bin\arm64\MacOS\net8.0\osx-arm64\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>osx-arm64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <!-- <PublishSingleFile>True</PublishSingleFile> -->
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishTrimmed>True</PublishTrimmed>
    <DefineConstants>OS_MACOS;ARCH_ARM64</DefineConstants>
  </PropertyGroup>
</Project>