name: Build & Publish Binaries

on:
  push:
    branches: [ master ]
defaults:
  run:
    working-directory: ./HorseIsleServer

jobs:
  build-linux-arm:
    runs-on: ubuntu-24.04-arm
    env:
        AUTHENTICATION_TOKEN: ${{ secrets.SILICA_CODES_AUTH }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
        include-prerelease: false
        
    - name: Install utils
      run: |
        sudo apt update
        sudo apt install -y clang build-essential zlib1g-dev dos2unix gcc-arm-linux-gnueabi gcc-arm-linux-gnueabihf gcc-arm-none-eabi gcc-aarch64-linux-gnu
        dotnet tool install -g dotnet-script
        
    - name: Restore dependencies
      run: |
        dotnet restore LibHISP
        dotnet restore HISPd
        
# linux arm
    - name: Build linux-arm
      continue-on-error: false
      run: |
        dotnet publish -c Linux -p:PublishProfile=LinuxARM HISPd
        
# linux arm64
    - name: Build linux-arm64
      continue-on-error: false
      run: |
        dotnet publish -c Linux -p:PublishProfile=LinuxARM64 HISPd

        
    - name: Build arm64 deb package
      continue-on-error: false
      run: |
        mkdir /tmp/debpkg
        mkdir /tmp/debpkg/DebianArm64
        mkdir /tmp/debpkg/DebianArm64/etc
        mkdir /tmp/debpkg/DebianArm64/usr
        mkdir /tmp/debpkg/DebianArm64/etc/hisp
        mkdir /tmp/debpkg/DebianArm64/etc/hisp/gamedata
        mkdir /tmp/debpkg/DebianArm64/etc/systemd
        mkdir /tmp/debpkg/DebianArm64/etc/systemd/system
        mkdir /tmp/debpkg/DebianArm64/usr/bin
        mkdir /tmp/debpkg/DebianArm64/usr/lib
        mkdir /tmp/debpkg/DebianArm64/DEBIAN
        cp LibHISP/Resources/server.properties /tmp/debpkg/DebianArm64/etc/hisp/server.properties
        cp LibHISP/Resources/default_cross_domain.xml /tmp/debpkg/DebianArm64/etc/hisp/CrossDomainPolicy.xml
        cp -r HISPd/Resources/DEBIAN/* /tmp/debpkg/DebianArm64/DEBIAN
        cp -r HISPd/build/Linux-ARM64/gamedata/* /tmp/debpkg/DebianArm64/etc/hisp/gamedata
        cp HISPd/build/Linux-ARM64/libe_sqlite3.so /tmp/debpkg/DebianArm64/usr/lib/libe_sqlite3.so
        cp HISPd/build/Linux-ARM64/HI1.MAP /tmp/debpkg/DebianArm64/etc/hisp/HI1.MAP
        cp HISPd/build/Linux-ARM64/HISPd /tmp/debpkg/DebianArm64/usr/bin/HISPd
        cp HISPd/Resources/HISP.service /tmp/debpkg/DebianArm64/etc/systemd/system/HISP.service
        cat /tmp/debpkg/DebianArm64/DEBIAN/control
        dos2unix /tmp/debpkg/DebianArm64/DEBIAN/conffiles
        dos2unix /tmp/debpkg/DebianArm64/DEBIAN/control
        dos2unix /tmp/debpkg/DebianArm64/DEBIAN/postinst
        dos2unix /tmp/debpkg/DebianArm64/DEBIAN/postrm
        dos2unix /tmp/debpkg/DebianArm64/DEBIAN/prerm
        dos2unix /tmp/debpkg/DebianArm64/etc/systemd/system/HISP.service
        chmod 755 -R /tmp/debpkg/DebianArm64
        chmod +x /tmp/debpkg/DebianArm64/usr/bin/HISPd
        mkdir debpackage-arm64
        dpkg-deb --build /tmp/debpkg/DebianArm64
        mv /tmp/debpkg/DebianArm64.deb debpackage-arm64/HISP-Debian-ARM64.deb
        curl --user $AUTHENTICATION_TOKEN --upload-file debpackage-arm64/HISP-Debian-ARM64.deb https://silica.codes/api/packages/islehorse/debian/pool/debian/main/upload
        
    - name: Build arm deb package
      continue-on-error: false
      run: |
        mkdir /tmp/debpkg
        mkdir /tmp/debpkg/DebianArm
        mkdir /tmp/debpkg/DebianArm/etc
        mkdir /tmp/debpkg/DebianArm/usr
        mkdir /tmp/debpkg/DebianArm/etc/hisp
        mkdir /tmp/debpkg/DebianArm/etc/hisp/gamedata
        mkdir /tmp/debpkg/DebianArm/etc/systemd
        mkdir /tmp/debpkg/DebianArm/etc/systemd/system
        mkdir /tmp/debpkg/DebianArm/usr/bin
        mkdir /tmp/debpkg/DebianArm/usr/lib
        mkdir /tmp/debpkg/DebianArm/DEBIAN
        cp LibHISP/Resources/server.properties /tmp/debpkg/DebianArm/etc/hisp/server.properties
        cp LibHISP/Resources/default_cross_domain.xml /tmp/debpkg/DebianArm/etc/hisp/CrossDomainPolicy.xml
        cp -r HISPd/Resources/DEBIAN/* /tmp/debpkg/DebianArm/DEBIAN
        cp -r HISPd/build/Linux-ARM/gamedata/* /tmp/debpkg/DebianArm/etc/hisp/gamedata
        cp HISPd/build/Linux-ARM/libe_sqlite3.so /tmp/debpkg/DebianArm/usr/lib/libe_sqlite3.so
        cp HISPd/build/Linux-ARM/HI1.MAP /tmp/debpkg/DebianArm/etc/hisp/HI1.MAP
        cp HISPd/build/Linux-ARM/HISPd /tmp/debpkg/DebianArm/usr/bin/HISPd
        cp HISPd/Resources/HISP.service /tmp/debpkg/DebianArm/etc/systemd/system/HISP.service
        cat /tmp/debpkg/DebianArm/DEBIAN/control
        dos2unix /tmp/debpkg/DebianArm/DEBIAN/conffiles
        dos2unix /tmp/debpkg/DebianArm/DEBIAN/control
        dos2unix /tmp/debpkg/DebianArm/DEBIAN/postinst
        dos2unix /tmp/debpkg/DebianArm/DEBIAN/postrm
        dos2unix /tmp/debpkg/DebianArm/DEBIAN/prerm
        dos2unix /tmp/debpkg/DebianArm/etc/systemd/system/HISP.service
        chmod 755 -R /tmp/debpkg/DebianArm
        chmod +x /tmp/debpkg/DebianArm/usr/bin/HISPd
        mkdir debpackage-arm
        dpkg-deb --build /tmp/debpkg/DebianArm
        mv /tmp/debpkg/DebianArm.deb debpackage-arm/HISP-Debian-ARM64.deb
        curl --user $AUTHENTICATION_TOKEN --upload-file debpackage-arm/HISP-Debian-ARM.deb https://silica.codes/api/packages/islehorse/debian/pool/debian/main/upload
        
# Upload LINUX

    - name: Upload linux-arm
      uses: actions/upload-artifact@v4
      with:
        name: HISP-LinuxARM
        path: HorseIsleServer/HISPd/build/Linux-ARM
    
    - name: Upload linux-arm64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-LinuxARM64
        path: HorseIsleServer/HISPd/build/Linux-ARM64

    - name: Upload deb package
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Debian-ARM64
        path: HorseIsleServer/debpackage-arm64
        
  build-linux:
    runs-on: ubuntu-latest
    env:
        AUTHENTICATION_TOKEN: ${{ secrets.SILICA_CODES_AUTH }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
        include-prerelease: false
    - name: Install utils
      run: |
        sudo apt update
        sudo apt install -y build-essential zlib1g-dev dos2unix
        
    - name: Restore dependencies
      run: |
        dotnet restore LibHISP
        dotnet restore HISPd
# linux x64
    - name: Build linux-x64
      continue-on-error: false
      run: |
        dotnet publish -c Linux -p:PublishProfile=Linux64 HISPd
        dotnet publish -c Linux -p:PublishProfile=Linux64 MPN00BS
        
    - name: Build deb package
      continue-on-error: false
      run: |
        mkdir /tmp/debpkg
        mkdir /tmp/debpkg/Debian64
        mkdir /tmp/debpkg/Debian64/etc
        mkdir /tmp/debpkg/Debian64/usr
        mkdir /tmp/debpkg/Debian64/etc/hisp
        mkdir /tmp/debpkg/Debian64/etc/hisp/gamedata
        mkdir /tmp/debpkg/Debian64/etc/systemd
        mkdir /tmp/debpkg/Debian64/etc/systemd/system
        mkdir /tmp/debpkg/Debian64/usr/bin
        mkdir /tmp/debpkg/Debian64/usr/lib
        mkdir /tmp/debpkg/Debian64/DEBIAN
        cp LibHISP/Resources/server.properties /tmp/debpkg/Debian64/etc/hisp/server.properties
        cp LibHISP/Resources/default_cross_domain.xml /tmp/debpkg/Debian64/etc/hisp/CrossDomainPolicy.xml
        cp -r HISPd/Resources/DEBIAN/* /tmp/debpkg/Debian64/DEBIAN
        cp -r HISPd/build/Linux-x64/gamedata/* /tmp/debpkg/Debian64/etc/hisp/gamedata
        cp HISPd/build/Linux-x64/libe_sqlite3.so /tmp/debpkg/Debian64/usr/lib/libe_sqlite3.so
        cp HISPd/build/Linux-x64/HI1.MAP /tmp/debpkg/Debian64/etc/hisp/HI1.MAP
        cp HISPd/build/Linux-x64/HISPd /tmp/debpkg/Debian64/usr/bin/HISPd
        cp HISPd/Resources/HISP.service /tmp/debpkg/Debian64/etc/systemd/system/HISP.service
        cat /tmp/debpkg/Debian64/DEBIAN/control
        dos2unix /tmp/debpkg/Debian64/DEBIAN/conffiles
        dos2unix /tmp/debpkg/Debian64/DEBIAN/control
        dos2unix /tmp/debpkg/Debian64/DEBIAN/postinst
        dos2unix /tmp/debpkg/Debian64/DEBIAN/postrm
        dos2unix /tmp/debpkg/Debian64/DEBIAN/prerm
        dos2unix /tmp/debpkg/Debian64/etc/systemd/system/HISP.service
        chmod 755 -R /tmp/debpkg/Debian64
        chmod +x /tmp/debpkg/Debian64/usr/bin/HISPd
        mkdir debpackage-x64
        dpkg-deb --build /tmp/debpkg/Debian64
        mv /tmp/debpkg/Debian64.deb debpackage-x64/HISP-Debian-AMD64.deb
        curl --user $AUTHENTICATION_TOKEN --upload-file debpackage-x64/HISP-Debian-AMD64.deb https://silica.codes/api/packages/islehorse/debian/pool/debian/main/upload
        
# Upload LINUX
    - name: Upload linux-x64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Linux64
        path: HorseIsleServer/HISPd/build/Linux-x64

    - name: Upload linux-x64-noobs
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Linux64-Noobs
        path: HorseIsleServer/MPN00BS/build/Linux-x64

    - name: Upload deb package
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Debian-x64
        path: HorseIsleServer/debpackage-x64
        
  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
        include-prerelease: false
    
    - name: Install utils
      run: dotnet tool install -g dotnet-script
        
    - name: Restore dependencies
      run: |
        dotnet restore LibHISP
        dotnet restore HISPd

# x64 build
    - name: Build win-x64
      continue-on-error: false
      run: |
        dotnet publish -c Windows -p:PublishProfile=Win64 HISPd
        dotnet publish -c Windows -p:PublishProfile=Win64 MPN00BS

    - name: Build win-x86
      continue-on-error: false
      run: |
        dotnet publish -c Windows -p:PublishProfile=Win32 HISPd
        dotnet publish -c Windows -p:PublishProfile=Win32 MPN00BS

# arm64 build
    - name: Build win-arm64
      continue-on-error: false
      run: |
        dotnet publish -c Windows -p:PublishProfile=WinARM64 HISPd
        
# Upload WINDOWS

    - name: Upload win-x64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Win64
        path: HorseIsleServer/HISPd/build/Windows-x64
    
    - name: Upload win-x86
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Win32
        path: HorseIsleServer/HISPd/build/Windows-x86
        
    - name: Upload win-arm64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-WinARM64
        path: HorseIsleServer/HISPd/build/Windows-ARM64

    - name: Upload win-x86-noobs
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Win32-Noobs
        path: HorseIsleServer/MPN00BS/build/Windows-x86

    - name: Upload win-x64-noobs
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Win64-Noobs
        path: HorseIsleServer/MPN00BS/build/Windows-x64

  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
        include-prerelease: false
        
    - name: Install utils
      run: dotnet tool install -g dotnet-script

    - name: Restore dependencies
      run: |
        dotnet restore LibHISP
        dotnet restore HISPd

    - name: Build mac-x64
      continue-on-error: false
      run: |
        dotnet publish -c MacOS -p:PublishProfile=Osx64 HISPd
        dotnet publish -c MacOS -p:PublishProfile=Osx64 MPN00BS
    - name: Build mac-arm64
      continue-on-error: false
      run: |
        cd HISPd
        dotnet publish -c MacOS -p:PublishProfile=OsxARM64
        cd ..
    - name: Upload mac-x64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Mac64
        path: HorseIsleServer/HISPd/build/MacOS-x64

    - name: Upload mac-arm64
      uses: actions/upload-artifact@v4
      with:
        name: HISP-MacARM64
        path: HorseIsleServer/HISPd/build/MacOS-ARM64
        
    - name: Upload mac-x64-noobs
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Mac-Noobs
        path: HorseIsleServer/MPN00BS/build/MacOS-x64

  build-web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: true
    
    - name: Remove dockerfiles from web
      run: |
           rm ../HorseIsleWeb/game-site/Dockerfile
           rm ../HorseIsleWeb/master-site/Dockerfile

    # UPLOAD WEBSERVER

    - name: Upload Website (master)
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Web-Master
        path: HorseIsleWeb/master-site
        
    - name: Upload Website (game)
      uses: actions/upload-artifact@v4
      with:
        name: HISP-Web-Game
        path: HorseIsleWeb/game-site
